<div class="container">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
        <mat-card class="example-card">
            <h1>{{isLoginForm? 'Login' : 'Register'}}</h1>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <mat-form-field class="example-full-width">
                    <mat-label>email</mat-label>
                    <input type="email" matInput placeholder="Please Enter email" formControlName="email"
                        [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!form.get('email').valid && form.get('email').touched">Please
                            enter email</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>password</mat-label>
                    <input matInput placeholder="Please Enter password" formControlName="password"
                        [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!form.get('password').valid && form.get('password').touched">Please
                            enter password</span>
                    </mat-error>
                </mat-form-field>

                <div class="downButton">
                    <button color="primary" type="submit" mat-flat-button>{{isLoginForm? 'Login' : 'SignUp'}}</button>
                </div>

            </form>               
             <div class="button">
                    <button mat-flat-button  (click)="toggle()" >switch to {{!isLoginForm? 'Login' : 'SignUp'}}</button>
                </div>
        </mat-card>
    </div>
</div>