<div class="container">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
        <h1>{{isLoginForm? 'Login' : 'Register'}}</h1>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-field">
                <label for="email"><b>Email</b></label>
                <input formControlName="email" type="email" placeholder="Enter Email" name="email" required>
            </div>
            <div class="form-field">
                <label for="password"><b>Password</b></label>
                <input formControlName="password" type="password" placeholder="Enter Password" name="password" required>
            </div>
            <div class="form-field" *ngIf="!isLoginForm">
                <label  for="confirmPassword"><b>Confierm Password</b></label>
                <input formControlName="confirmPassword" type="password" placeholder="Enter Password Again"
                    name="confirmPassword" required>
            </div>
            <div class="downButton">
                <button color="primary" type="submit" mat-flat-button>{{isLoginForm? 'Login' : 'SignUp'}}</button>
            </div>

        </form>
        <div class="button">
            <button mat-flat-button (click)="toggle()">switch to {{!isLoginForm? 'Login' : 'SignUp'}}</button>
        </div>
    </div>
</div>